.floating-menu{
    left: 45px;
    top: 96px;
    width : 480px;
    height : 90px;
    position : fixed;  
    z-index : 1001 !important;
    border-radius: 13px; 
    background-color: rgba(253, 98, 98, 0.842);
    display : flex; 
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    font-size: 18px;
    color: white;
    box-shadow: 2px 2px 4px #ddd;
    font-weight: bold;
}
#sum{
    position: absolute;
    margin-left: 10px;
    top:0;
    font-size: 30px;
}
.floating-menu h3{
    width : 240px;
    margin : 5px 0 ;
    text-align: center;
    color: black;
  
 }
.floating-menu ul{
    margin : 0;
    list-style: none;
   
    width: 100%;
    display:flex; 
}
.floating-menu li{ 
    position : relative; 
    margin : 0 10px 0 0;
}
.floating-menu li span{
    box-sizing: border-box;
    padding:3px;
    display: inline-block;
    line-height: 32px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    color : red;
     
    font-size : 20px;
}



.floating-menu a{
    text-align: left;
    list-style-type: none;
    width: 150px;
    height: 30px; 
}
.user-disappear{
    display : none; 
}
.wrapper{
    width : 100vw; 
    margin-top : 90px !important;
    margin-bottom: 10px;
    display  :flex;
    flex-direction: column ;
    align-items: center; 
    z-index: -1 !important; 
}
.wrapper section{
    width : 90%; 
    background-color: white; 
    z-index : 1; 
      
} 
.wrapper .top{
    display:  flex ;
    justify-content: center; 
    
}
.wrapper .top div{
    margin : 5px 1%; 
}
.wrapper .top .today-des-container{
    width: 30%;
       
    position :relative; 
    
}
.today-des-container img.first{
    width : 100%;
    height: 80%; 
    display:  block; 
    object-fit: contain; 
      
}
.today-des-container h1.today-des{
    position :absolute; 
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5vw;
}

.wrapper .top .today-top{
    width: 58%;
      
}

.wrapper .bottom{
    display :flex; 
    flex-direction: column; 
    align-items: center; 
    overflow: hidden; 
    
}

.wrapper .bottom .des-container{
    width : 90%;
    height : 50vh; 
    margin : 30px 0 ;
    display :flex;
    align-items: center; 
    justify-content: space-around;
}


/* 서울 지역 오늘 현황*/
.second-container{
    width : 60%;
    display : flex;
    align-items: center; 
    height: 90%; 
}
.seoul-des-container{
    width : 40%;
    height: inherit; 
    position : relative; 
}
.seoul-des-container img.second{
    width : 100%;
    height: 100%; 
    object-fit: contain; 
}
.seoul-des-container h1{
    position :absolute;
    top : 65%; 
    left : 50%;
    transform: translate(-50%,-50%); 
    font-size: 1vw;  
    
}
.seoul-chart-container{
    width :60%; 
    height: 80%; 
    display: flex; 
}
.seoul-chart{
    width :40%; 
    height: 100%; 
     
    position:relative; 
    padding-bottom: 5%;
    
}
.seoul-chart h3{
    position : absolute;
    width : 180px;
    left: 60%;
    top : 50%;
    transform: translate(-50%,-50%); 
    font-size: 1.2vw; 
}
.seoul-chart-des{
    width : 60%;
     
    padding-top : 8vh;
    padding-left: 2vw;
    box-sizing: border-box;
    font-size: 1vw; 
}

/* 일일 추가 확진자수*/
.des-container .third-container{
      
    width: 25vw;
    height:25vw; 
    position :relative; 
}

.third-container img.second{
    width : 100%;
    height: 100%; 
    object-fit: contain; 
      
    
}
.third-container h1{
    position :absolute;
    top : 60%; 
    left : 50%;
    transform: translate(-50%,-50%); 
    font-size: 1.5vw;  
    
}
.wrapper .bottom .local{
    width : 90%; 
     
}

@media screen and (max-width: 1080px){
    .gnb{
        display : none; 
    }
    .second-container{
        height: 50%; 
    }
    .bottom {
        height: 60%; 
    }
    .seoul-chart h3{
        display : none; 
    }
};
 
 


