{% extends "public/templates/public_template.html" %}
{% block title %}데이트메이커>로그인{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block main %}
<p style="position:absolute;">{{ makeAlert | safe }} </p> 
<section class="main">
    <div class="center">
        <article class="form">
            <h1>로그인</h1>
            <form method="POST" action="/datemaker/login"> 
                <div id="input-1">
                    <label for="inputId" class="sr-only"></label>
                    <input type="text" id="inputId" name="Id" placeholder="아이디를 입력해주세요" autofocus>
                </div>
                <div id ="input-2">
                    <label for="inputPassword" class="sr-only"></label>
                    <input type="password" id="inputPassword" name="passwd" placeholder="비밀번호를 입력해 주세요">
                </div>
                <div id="line">
                    <div></div>
                </div>
                <div id="submit"> 
                <button type="submit">로그인</button>
                </div>
            </form>
        </article>
        <article class="bottom">
            <div><a>개인정보처리방침</a></div>
            <div><a>COPYRIGHT &copy; DateMaker</a></div>
        </article>
    </div>
</section>
{% endblock %} 