{% extends "public/templates/public_template.html" %}
{% block title %}데이트 메이커>회원가입{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign-up.css') }}">
{% endblock %}
{% block main %}
<div class="wrapper" id="app">
    <p style="position:absolute;">{{ makeAlert | safe }} </p> 
    <nav>
        <div></div>
    </nav>
    <section class="main">
        <article class="top">
            <form method="POST" action="/datemaker/signup">
                <h1>회원가입</h1>
                <div class="input">
                    <span class="input-group-addon">
                        <i class="fa fa-user "></i>
                    </span>
                    <input type="text" id="inputName" name="name" class="form-control" placeholder="이름을 입력해 주세요"
                        required autofocus>
                </div>
                <div class="input">
                    <span class="input-group-addon">
                        <i class="fa fa-id-badge"></i>
                    </span>
                    <input type="text" id="inputId" name="Id" class="form-control" placeholder="아이디를 입력해 주세요"
                        required autofocus>
                </div>
                <div class="input">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" id="inputPassword" name="passwd" class="form-control"
                        placeholder="비밀번호를 입력해 주세요" required>
                </div>
                <div class="button">
                    <button type="submit" id="submit">계정 만들기 <span style="color:crimson; font-size:30px;"> ♥</span></button>
                    <button type="button" id="cancel">취소</button>
                </div>
            </form>
        </article>
    </section>
    <aside>
        <div></div>
    </aside>
</div>
{% endblock %}