<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="../../static/css/corona.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='css/corona.css') }}"> -->
    <!-- css 링크 거는 방법  url_for('디렉토리명',filename="위치/이름")-->
    <!-- {% block link %}{% endblock %}  -->
    
    
    <script src="https:cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700&display=swap');
        @import url('https:stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    </style>
    <script src="../../static/js/corona.js" defer></script>
</head>
<body>
    <container>
        <header>
            <form action="/" method="get">
                <input type="submit" value="메인 화면으로 돌아갑니다.">
            </form>
            <div class="sns" id="yanolja"><a>야놀자 로고</a></div>
            <div class="sns" id="instagram"><a>인스타그램 로고</a></div>
        </header>
        <main>
            <div class="container"> 
            <section class="top-des">
                <h1>코로나 <span style="color:crimson">확진</span> 현황</h1> 
            </section>
            <section class="top">
                <article id="bar">
                    <canvas id="present" style="width:1220px; height:650px;"></canvas>
                </article>
                <article id="pie">
                    <canvas id="added" style="width:544px; height:800px;"></canvas>
                </article  >
            </section>
            <section class="bottom-des">
                <h1>확진자수<span style="color:crimson"> 상위 </span>5곳</h1> 
            </section>
            <section class="bottom">
                <article id="rank">
                    <ol>
                        <li class="warn">강동구</li>
                        <li class="warn"></li>
                        <li class="warn"></li>
                        <li class="warn"></li>
                        <li class="warn"></li>
                     </ol>
                </article>
                <article id="go">
                </article>
                <article>
                </article>
            </section>

        </div>
            <!-- {% block main %}{% endblock %} -->
        </main>
        <footer>
            <div></div>
        </footer>
    </container> 
</body>

</html>