<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../static/css/style.css"> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- css 링크 거는 방법  url_for('디렉토리명',filename="위치/이름")-->
    <!-- {% block link %}{% endblock %}  -->

    <title>{% block title %}{% endblock %}</title>
    <style>
     
    </style>
</head>

<body>
    <header>
        <form action="/" method="get">
            <input type="submit" value="메인 화면으로 돌아갑니다.">
        </form>
        <div class="sns" id="yanolja"><a>야놀자 로고</a></div>
        <div class="sns" id="instagram"><a>인스타그램 로고</a></div>
        <div class="trigger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <main>
        <div id="test">테스트 태그</div> 
        <!-- {% block main %}{% endblock %} -->
    </main>
    <script>
        const testDiv = document.getElementById('test') 
        console.log(testDiv) 
        const init ={ 
            option : {
                method : "POST", 
                url : "http://localhost:5000/corona/res",
            },
            create(pram){
                return new Promise((resolve,reject) =>{
                    const xhr = new XMLHttpRequest(); // 인스턴스 생성
                    //온로드 이벤트 발생하면 처리하는 부분
                    xhr.onload = function(){ 
                        console.log(this)
                        this.status == 200 ? resolve(JSON.parse(this.response)) : reject(this);
                    }
                    xhr.option = this.option; // Promise 환경에서 this 는 main 객체를 참조한다 
                    xhr.open(xhr.option.method,xhr.option.url); 
                    xhr.send();
                });
            },
            //비동기 처리하는 메인부분
            async getRes(){
                try{ 
                    const res = await this.create(this.option); //resolve this.response 가 담김 
                    this.showData(res); //동기적 처리가 끝나면
                }catch(error){
                    this.serverError(error) 
                };
            },
            showData(res){ //데이터를 화면에 뿌림 chart.js 로 구현
                console.log(res); 
                testDiv.innerHTML = res ;  
                 
            },
            serverError(error){
                console.log(error) ;
            }
        }
        init.getRes();
    </script>
</body>

</html>