    <form action='/area' method="POST" autocomplate='off'>
        <center>
        <p>데이트 지역을 선택해 주세요</p>
        <input type='text' list='choice_place' name='input1'>
        <datalist size='4' id='choice_place'>
            <option value='강남'>강남</option>
            <option value='잠실'>잠실</option>
            <option value='홍대'>홍대</option>
            <option value='여의도'>여의도</option>
            <option value='동대문'>동대문</option>
            <option value='명동'>명동</option>
            <option value='광화문'>광화문</option>
            <option value='이태원'>이태원</option>
        </datalist>
        <button type='submit'>선택</button>
        </center>
    </form> 
 