{% extends "public/templates/public_template.html" %}
{% block title %}데이트메이커>숙소정보{% endblock %}
{% block link %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/content.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/restaurant.css') }}">
{% endblock %}
{% block main %}
<div class="wrapper" id="app">
    <div class="page-container">
        <section class="app-nav">
            <article class="app-nav-wrapper">
                <h1>요즘 <span id="hot">HOT</span> 한 맛집</h1>
                <p id="instagram-logo"><span><em>Instagram</em></span> </p>
            </article>
        </section>
        <section class="main">
            <div v-for="(item,index) in items" v-bind:key="index" class="page-container-box"
                style="cursor:pointer; transition :0.5s;">
                <div class="img-contain">
                    <img v-bind:src="item[1]">
                    <div class="add-cart">
                        <p>해당 상품을 데이트 바구니에 담으시겠습니까?</p>
                        <button type="button" v-on:click="addCart(item,index)">담기</button>
                    </div>
                </div>
                <div class="content">
                    <title-text class="content-title" v-bind:hashtag="item[3]"></title-text>
                    <p> ${ item[2] }</p>
                </div>
            </div>
        </section>
    </div>
<div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='js/restaurant.js') }}"></script>
{% endblock %}