<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="../static/css/corona.css">  
</head>
<body>
<div class="wrapper" id="app">
    <div class="floating-menu">
        <h3 class="floating-menu-title">국내 실시간 현황</h3>
        <ul>  
        <li>
            <a>신규 확진<span>1112312</span></a>
           
        </li>
        <li>    
            <a>국내발생<span>1112312111</span></a>
        </li>
        <li>
            <a>해외유입<span>1112312</span></a>
        </li>
        </ul>
    </div>
    <section class="top">
        <div class="today-des-container">
            <img src="https://korean.visitseoul.net/humanframe/theme/visitseoul/assets/images/2020/main/01.png" class="first">
            <h1 class="today-des">서울지역 확진자<br>일일 증가 현황</h1>
        </div>
        <div class="today-top">
            <canvas id="today-Chart"></canvas>
        </div>
    </section>
    <section class="bottom">
        <div class="des-container">
            <div class="second-container">
                <div class="seoul-des-container">
                    <img src="https://korean.visitseoul.net/humanframe/theme/visitseoul/assets/images/2020/main/02.png" class="second">
                    <h1>서울지역<br>국내 발생비율<br>코로나 통계</h1>
                </div>
                <div class="seoul-chart-container">
                    <div class="seoul-chart">
                        <h3>서울 ${ content1 }%</h3>
                        <canvas id="seoul-Chart"></canvas>
                    </div>
                    <div class="seoul-chart-des">
                        <p>전일 대비 증감 :  ${ content2 }</p>
                        <p>격리중 : ${ content3 }</p>
                        <p>누적 격리 해제 : ${ content4 }</p>
                        <p>사망자 : ${ content5 }</p>
                        <p>10만명당 발생률 : ${ content6 }</p>
                    </div>
                </div>
            </div>
            <div class="third-container">
                    <img src="https://korean.visitseoul.net/humanframe/theme/visitseoul/assets/images/2020/main/03.png" class="second">
                    <h1>지역별<br>총 확진자수</h1>
            </div>
        </div>
        <div class="local">
            <canvas id="local-Chart"></canvas>
        </div>
    </section>
</div>
</body>
</html>